<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link href="/images/favicon.png" rel="icon" type="image/png">

  <!-- Basic Page Needs
  ================================================== -->
  <title>Instello校园交友系统</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Instello - Sharing Photos platform HTML Template">

  <!-- icons
  ================================================== -->
  <link rel="stylesheet" href="/css/icons.css">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/uikit.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tailwind.css">

</head>

<body class="bg-gray-100">


<div id="wrapper" class="flex flex-col justify-between h-screen">

  <!-- header-->
  <div class="bg-white py-4 shadow dark:bg-gray-800">
    <div class="max-w-6xl mx-auto">


      <div class="flex items-center lg:justify-between justify-around">

        <a href="javascript:void(0);">
          <img src="/images/logo.png" alt="" class="w-32">
        </a>

      </div>
    </div>
  </div>

  <!-- Content-->
  <div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <h1 class="lg:text-3xl text-xl font-semibold  mb-6">重置密码</h1>
      <p class="mb-2 text-black text-lg">请重新设置您的密码</p>
      <div class="flex lg:flex-row flex-col lg:space-x-2">
        <input type="password" id="resetPassword" placeholder="密码" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
      </div>
      <div class="flex lg:flex-row flex-col lg:space-x-2">
        <input type="password" id="confirmResetPassword" placeholder="确认密码" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
      </div>

      <button type="button" id="resetButton" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full adc">重置密码</button>

    </div>
  </div>

  <!-- Footer -->
  <div class="lg:mb-5 py-3 uk-link-reset"></div>

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/tippy.all.min.js"></script>
<script src="/js/uikit.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/custom.js"></script>
<script src="/myjs/resetPassword.js"></script>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>